@import "tailwindcss";

@theme {
  --color-primary: #e21224;
  --color-primary-dark: #b90e1d;
  --color-background-light: #f8f6f6;
  --color-background-dark: #0a0505;
  --color-surface-dark: #160b0c;
  --color-surface-light: #ffffff;

  --font-display: "Noto Serif TC", serif;
  --font-sans: "Manrope", sans-serif;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}

.text-glow {
  text-shadow: 0 0 20px rgba(226, 18, 36, 0.5);
}
